/* Add CSS Styling *//* Add CSS Styling */
.First{
    background-color: black;
    color: white;
}

.Second{
    background-color: yellow;

}

.First, .Second{
    font-weight: 28px;
    font-family: 'Helvetica', 'Times New Roman', 'sans-serif';
}
